**/*.gise

**/*.xise

**/*.xreport

**/*.cmd_log

**/*.lso

**/*.ngc

**/*.ngr

**/*.prj

**/*.stx

**/*.syr

**/*.xst

**/*.html

**/*.xrpt

**/*.xml

**/*.sdbl

**/*.sdbx

**/*.xmsgs

**/iseconfig/*

**/xst/*

**/ipcore_dir/*

**/*.projectmgr

**/_ngo/*

**/_xmsgs/*

**/isim/*

**/netgen/*

**/xlnx_auto_0_xdb

**/*.exe

**/*.log

**/*.cmd

**/*.bld

**/*.drc

**/*.bgn

**/*.ncd

**/*.ngd

**/*.pad

**/*.pcf

**/*.ptwx

**/*.twr

**/*.twx

**/*.unroutes

**/*.ut

**/*.xpi

**/*.xwbt

**/*.map

**/*.mrp

**/*.ngm

**/*.csv

**/*.txt

**/*.wdb

**/*.mem

**/*.ini

**/*.par